.bg-dark{
    background-color: #b5441e !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #b5441e;
    border-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #b5441e;
    border-color: #b5441e;
}

#navbarHeader .text-muted {
    color: #dddddd !important;
}

.btn-secondary {
    color: #fff;
    background-color: #1c6f70;
    border-color: #1c6f70;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #1c6f70;
    border-color: #fff;
}

h5 {
    min-height: 54px;
}

#document {
    min-height: 550px;
}

.btn-primary.focus, .btn-primary:focus {
	box-shadow: 0 0 0 .2rem #b5441e2e;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	background-color: #b5441e;
	border-color: #b4431d;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem #b5441e2e;
}
